*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 40px;
}
header {
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid black;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight:bold
}
main {
    display: flex;
    margin: 20px;
}
aside {
    width: 200px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}
aside ul {
    padding: 0;
}
aside ul li {
    padding: 10px 0;
}
aside ul li a {
    color: #333;
    font-weight: bold;
}
.products {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.products img {
    display: flex;
    max-width: 180px;
    height: auto;
    margin-bottom: 15px;
}
.products h2 {
    font-size: 18px;
    margin: 10px 0;
}
.products p{
    margin: 5px 0;
    color: #555;
}