.buttons {
    display: flex;
    gap: 20px;
    .btn-phone{
      width: 80px;
      height: 50px;
      background-color: orangered;
      i{
        color: white;
        font-weight: 300px;
      }
    }
    .btn-calculate{
      color: white;
    font-size: 12px;
    padding: 12px;
    border-radius: 0;
    background: transparent;
    border-color: #f96481;
    transition: all 0.3s ease 0s;
    line-height: 42px;
    font-weight: 500;
    }
}