// Colors
$primary-color: #f15123;
$secondary-color: #1d1d2c;
$text-color: #333;
$white: #ffffff;
$background: #f9f4f2;

// Font sizes
$font-size-base: 16px;
$heading-font-size: 36px;
$font-family: 'Arial', sans-serif;

// Breakpoints for responsiveness
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;