footer {
    background-color: $background;
    padding: 50px 0;
    text-align: center;

    .stats {
        @include flex(space-around);

        .stat-item {
            h3 {
                font-size: 2.5rem;
                color: $primary-color;
            }

            p {
                color: $text-color;
            }
        }
    }

    @include respond-to(small) {
        .stats {
            flex-direction: column;

            .stat-item {
                margin-bottom: 20px;
            }
        }
    }
}