.navbar{
    position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    padding: 0 20px;
    h1{
      font-weight: bold;
    }
  }
  .navbars{
    position: fixed;
    text-align: center;
    justify-content: center;
    ul{
      display: flex;
      li{
        color: black;
        gap: 15px;
        font-size: 20px;
      }
    }
    
  }
